header{
    padding: 30px 0;
}

.p-virtual{
    cursor: pointer;
}
.p-virtual span{
    width: 20px;
    height: 3px;
    background: #000;
    display: block;
    margin-bottom: 4px;
}
.p-virtual span:last-child{
    margin-bottom: 0;
}
.p-virtual span:nth-child(2){
    width: 10px;
}
header ul{
    display: flex;
    align-items: center;
}
header ul li{
    padding: 0 40px;
}
header ul li:first-child{
    padding-left: 0;
}

header ul li:last-child{
    padding-right: 0;
}
header ul li a{
    color: #000000;
    font-weight: 500;
    position: relative;
}
header ul li a:hover::after{
    content: '';
    background: #4c74a1;
    height: 30px;
    position: absolute;
    left: -5px;
    z-index: -1;
    bottom: -5px;
    right: -5px;
    border-radius: 20%;
}
.home-button{
    content: '';
    background: #4c74a1;
    height: 30px;
    position: absolute;
    /* left: -5px; */
    /* z-index: -1; */
    /* bottom: -5px; */
    /* right: -5px; */
    padding: 6px;
    border-radius: 20%;
    
}