<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li class="p-virtual">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>

                        <!-- <img src="assets/search.png" alt="search icon" width="20" /> -->
                    </li>
                </ul>
                <ul>
                    <li>
                        <a routerLink="/home" [ngClass]="{'home-button': isHome, 'when-hover':!isHome}" (click)="clickHome()">Home</a>
                    </li>
                    <li>
                        <a routerLink="/about" [ngClass]="{'home-button': isAbout, 'when-hover':!isAbout}" (click)="clickAbout()">About</a>
                    </li>
                    <li>
                        <a routerLink="/experience" [ngClass]="{'home-button': isPortfolio, 'when-hover':!isPortfolio}" (click)="clickPortfolio()">Experience</a>
                    </li>
                    <li>
                        <a routerLink="/reach" [ngClass]="{'home-button': isReach, 'when-hover':!isReach}" (click)="clickReach()">Reach</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</header>