<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <ul>
                    <li class="mt-4">
                        <h5>Education</h5>
                    </li>
                    <li class="d-flex justify-content-between p-des">
                        Master's in computer science at UNC Charlotte 
                        <span>May 2023</span>
                    </li>
                    <li class="mt-4">
                        <h5>Technical skills</h5>
                    </li>
                    <li>
                        <span class="sub-heading">Languages: </span>
                        <span class="p-des">Python, Java 8/11, JavaScript, C, C++</span> 
                    </li>
                    <li>
                        <span class="sub-heading">Web Technologies: </span>
                        <span class="p-des">HTML 5, CSS, Express JS, Angular JS, Bootstrap, Material UI, jQuery</span> 
                    </li>
                    <li>
                        <span class="sub-heading">Frameworks: </span>
                        <span class="p-des">REST Architecture, Microservices, Spring, Spring Boot
                        </span> 
                    </li>
                    <li>
                        <span class="sub-heading">Databases: </span>
                        <span class="p-des">SQL, RDBMS, MongoDB
                        </span> 
                    </li>
                    <li class="mt-4">
                        <h5>Experience</h5>
                    </li>
                    <li class="d-flex justify-content-between p-des">
                        <h6>Systems Engineer</h6>
                        <span>Dec 2019 - Dec 2021</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>