<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <ul>
                    <li class="mt-4">
                        <h5>Experience</h5>
                    </li>
                    <li class="d-flex justify-content-between p-des">
                        <h6>Systems Engineer</h6>
                        <span>Dec 2019 - Dec 2021</span>
                    </li>
                </ul>
                    <ul class="p-des font">
                    <li>
                        Utilized Angular and Angular Material to construct dynamic, responsive components for the e-commerce platform,
                        enhancing usability while implementing features with the help of HTML, JavaScript, and CSS.
                    </li>
                    <li>
                        Leveraged Angular best practices and NgRx for state management to optimize website performance, resulting in
                        improved page load speeds, reduced API calls, and consistent data flow across the platform.
                    </li>
                    <li>
                        Implemented RxJS within the Angular framework to efficiently handle asynchronous operations and events, ensuring
                        smoother user interactions and efficient data updates.
                    </li>
                    <li>
                        Seamlessly integrated backend services using RESTful APIs, facilitating efficient data exchange between the server and
                        the user-facing side of the website.
                    </li>
                    <li>
                        Ensured high code quality by developing and conducting unit tests using Jasmine and Karma, facilitating early detection
                        and resolution of potential development issues.
                    </li>
                    <li>
                        Engineered and maintained efficient Spring Boot applications, implementing Dependency Injection, Aspect-Oriented
                        Programming (AOP), and Spring Security for a secure and scalable backend.
                    </li>
                    <li>
                        Utilized Spring Data JPA and Hibernate for object-relational mapping, managing transactions, and executing complex
                        queries.
                    </li>
                    <li>
                        Worked directly with MongoDB collections, documents, and indexes, and performed CRUD operations to manipulate and retrieve data efficiently using MongoDB's native query language.
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</section>