.p-profile{
    background: url('/assets/photo.jpg');
    width: 400px;
    height: 495px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.p-tag{
    background: #989898;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;

}
.p-des{
    color: #7e7d7d;
    /* width: 100%; */
}
.sub-heading{
    font-weight: 500;
}