<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <ul>
                    <li class="mt-4">
                        <h5>Email</h5>
                    </li>
                    <li class="p-des">
                        jawahar.reddy65@gmail.com
                    </li>
                    <li class="mt-4">
                        <h5>Contact</h5>
                    </li>
                    <li class="p-des">
                        +1 9808955105
                    </li>
                    <li class="mt-4">
                        <h5>GitHub</h5>
                    </li>
                    <li class="p-des">
                        https://github.com/jawahar2 (<a href="https://github.com/jawahar2" target="_blank" class="text-primary">Click Here</a>)
                    </li>
                    <li class="mt-4">
                        <h5>LinkedIn</h5>
                    </li>
                    <li class="p-des">
                        https://www.linkedin.com/in/jawahar-reddy-kkatta-a374021b0/ (<a href="https://www.linkedin.com/in/jawahar-reddy-kkatta-a374021b0/" target="_blank" class="text-primary">Click Here</a>)
                    </li>
                    <li class="mt-4">
                        <h5>LeetCode</h5>
                    </li>
                    <li class="p-des">
                        https://leetcode.com/jawahar22/ (<a href="https://leetcode.com/jawahar22/" target="_blank" class="text-primary">Click Here</a>)
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>