<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span class="p-tag">Software Developer</span>
                <h1 class="mt-4">Jawahar Reddy Kkatta</h1>
                <p class="p-des mt-3 mb-4">Welcome! I'm Jawahar Reddy, a highly skilled and motivated Software Developer based in Charlotte, NC, with a robust background in frontend and backend development. With over 2 years of hands-on experience in the industry, I specialize in Java and J2EE technologies, alongside web development with HTML5, CSS3, jQuery and JavaScript. I'm passionate about creating efficient, scalable software solutions that deliver exceptional user experiences.</p>
                <a routerLink="/about" class="p-readmore">Read More <img src="assets/play.png" alt="icon for arrow" width="14" class="ml-2" (click)="goTo()" /></a>
            </div>
        </div>
    </div>
</section>